<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE config [
    <!ELEMENT config (passLength*, charSet*, trials*)>
    <!ELEMENT passLength (#PCDATA)>
    <!ELEMENT charSet (#PCDATA)>
    <!ELEMENT trials (#PCDATA)>
    <!ATTLIST charSet
        lowerCase CDATA #IMPLIED
        upperCase CDATA #IMPLIED
        number CDATA #IMPLIED
        space CDATA #IMPLIED
    >
    <!ATTLIST trials deleteDBOnFailure CDATA #IMPLIED>
]>

<config></config>
