<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE config [
    <!ELEMENT config (defaultDB, initialSettings)>
    <!ELEMENT defaultDB (#PCDATA)>

    <!ELEMENT initialSettings (passLength, charSet, trials)>
    <!ELEMENT passLength (#PCDATA)>
    <!ELEMENT charSet (#PCDATA)>
    <!ELEMENT trials (#PCDATA)>
    <!ATTLIST charSet
        lowerCase CDATA #REQUIRED
        upperCase CDATA #REQUIRED
        number CDATA #REQUIRED
        space CDATA #REQUIRED
    >
]>

<config>
    <!--
        デフォルトのデータベース
        コマンド実行時にデータベース名を省略した際に使用します。
    -->
    <defaultDB>SampleDB</defaultDB>

    <!-- データベース新規作成時に適用される設定 -->
    <initialSettings>
        <!-- 自動生成されるパスワードの長さ -->
        <passLength>16</passLength>

        <!--
            パスワードの自動生成に使用する文字/記号
            charSet要素内に任意の文字/記号を入力すると、それらをパスワード生成に使用します。
            （アルファベット、数字、空白、改行は無視されます。）
        -->
        <charSet lowerCase="true" upperCase="true" number="true" space="false">
            <!-- 例: !#$%@_(){}[] -->
        </charSet>

        <!-- パスワード入力の試行回数 -->
        <trials>2</trials>
    </initialSettings>
</config>
